<div class="card">
    <div class="border">
        <div class="card-header">
             <a href="{{url}}" class="card-header-title">{{title}}</a> 
        </div>
        <div class="card-image">
            <a href="{{url}}">
            <figure class="image is-4by3">
             <img src="{{feature_image}}" alt="Feature Image">  
            </figure>
            </a>
        </div>
        <div class="card-content">
            {{#foreach authors limit="1"}}
            <div class="card-container">
            {{#if profile_image}}
            <img src="{{profile_image}}" class="image is-32x32 object-fit-cover" alt="Profile Image">
            {{/if}}
            <a href="{{url}}" class="author-name is-size-8">{{name}}</a>    
            </div>
            {{/foreach}}
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
            <span>
             <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
            </span>
            </p>
            <p class="card-footer-item">
            <span>
            {{#foreach tags limit="1"}}
            <a href="{{url}}" class="">{{name}}</a>
            {{/foreach}}
            </span>
            </p>
        </footer>
    </div>
</div>