{{!< default}}
{{#post}}
    <article class="hero">
        <header class="post-header post-header-border">
            <div class="title is-6 fw-normal">
                <span>By {{authors}}</span>
            </div>
            <div class="subtitle is-6">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                {{tags prefix=" on "}}
            <div>
            <div class="title is-4 center">{{title}}</div>
        </header>
        <section class="section ghost-content">
            {{content}}
        <section>
    </article>
{{/post}}